<div
  class="flex flex-col xl:px-20 md:px-10 sm:px-6 px-4 md:py-12 py-9 2xl:mx-auto 2xl:container md:flex items-center justify-center">
  <div
    class="bg-gray-100/75 shadow-lg rounded xl:w-1/3 lg:w-5/12 md:w-1/2 w-full lg:px-10 sm:px-6 sm:py-10 px-2 py-6">
    <!-- Password -->

    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <mat-icon class="icon-size-5" matPrefix>password</mat-icon>
      <input [formControl]="password" type="password" matInput />

      <mat-error *ngIf="password.errors?.['required']" class="text-sm">
        La contraseña es requerida.
      </mat-error>
      <mat-error *ngIf="password.errors?.['passwordStrength']" class="text-sm">
        la Contraseña debe incluir mínimo 8 caracteres. Al menos una mayúscula,
        una minúscula, un número y un caracter especial (#?!@$%^&*-).
      </mat-error>
    </mat-form-field>
    <div class="mt-1 text-md text-hint">
      Minimo 8 caracteres. Debe incluir una letra mayúscula, una minúscula y un
      caracter especial (#?!@$%^&*-).
    </div>
    <div class="mt-8 flex flex-row gap-4 justify-center items-center">
      <button
        role="button"
        type="submit"
        [disabled]="password.invalid"
        (click)="confirm()"
        [class.spinner-loading]="loading"
        mat-raised-button
        color="primary"
        class="w-1/3 max-w-[120px] h-12 hover:bg-blue-900 disabled:bg-slate-500 disabled:text-zinc-200">
        Restablecer
      </button>
      <button
        role="button"
        type="reset"
        (click)="back()"
        mat-raised-button
        class="w-1/3 max-w-[120px] h-12 bg-slate-200 hover:bg-slate-400 hover:text-cyan-50">
        Regresar
      </button>
    </div>
  </div>
</div>
