<div class="flex-auto flex flex-col">
  <div
    class="flex flex-col md:flex-row xl:px-20 md:px-10 sm:px-6 px-4 md:py-12 py-9 2xl:mx-auto 2xl:container md:flex items-center justify-center flex-1"
  >
    <div
      class="bg-gray-100/75 shadow-lg rounded xl:w-7/12 lg:w-7/12 md:w-2/3 w-full lg:px-10 sm:px-6 sm:py-10 px-2 py-6 flex flex-col gap-3 items-center"
    >
      <!-- Content -->
      <h1 class="w-full flex flex-row items-center justify-center text-4xl">
        404 Página no Encontrada
      </h1>
      <button
        role="button"
        type="button"
        [routerLink]="['/sign-in']"
        mat-raised-button
        color="primary"
        class="w-1/4 h-10"
      >
        Ingresar
      </button>
    </div>
  </div>
</div>
