<div class="flex-auto flex flex-col">
  <div
    class="flex flex-col md:flex-row xl:px-20 md:px-10 sm:px-6 px-4 md:py-12 py-9 2xl:mx-auto 2xl:container md:flex items-center justify-center flex-1"
  >
    <div
      class="bg-gray-100/75 shadow-lg rounded xl:w-7/12 lg:w-7/12 md:w-2/3 w-full lg:px-10 sm:px-6 sm:py-10 px-2 py-6"
    >
      <!-- Content -->
      <div class="w-full max-w-3xl">
        <!-- Form -->
        <form [formGroup]="registerForm">
          <!-- Section -->
          <div class="w-full">
            <div class="text-xl">Registro</div>
            <div class="text-secondary">
              Verificar que la información sea correcta.
            </div>
          </div>
          <div class="flex flex-col gap-6 w-full mt-3">
            <!-- Nombre -->

            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Nombre</mat-label>
              <mat-icon class="icon-size-5" matPrefix>person</mat-icon>
              <input [formControlName]="'displayName'" matInput />
              <mat-error
                *ngIf="displayName.errors?.['required']"
                class="text-sm"
              >
                El nombre es requerido.
              </mat-error>
            </mat-form-field>

            <!-- Nombre de Usuario -->

            <mat-form-field
              class="fuse-mat-emphasized-affix w-full"
              appearance="outline"
            >
              <mat-label>Email</mat-label>
              <mat-icon class="icon-size-5" matPrefix>mail</mat-icon>
              <input [formControlName]="'email'" type="email" matInput />
              <mat-error *ngIf="email.errors?.['required']" class="text-sm">
                El email es requerido.
              </mat-error>
              <mat-error *ngIf="email.errors?.['email']" class="text-sm">
                El email es inválido verificar.
              </mat-error>
            </mat-form-field>

            <!-- Password -->

            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <mat-icon class="icon-size-5" matPrefix>password</mat-icon>
              <input [formControlName]="'password'" type="password" matInput />

              <mat-error *ngIf="password.errors?.['required']" class="text-sm">
                La contraseña es requerida.
              </mat-error>
              <mat-error
                *ngIf="password.errors?.['passwordStrength']"
                class="text-sm"
              >
                la Contraseña debe incluir mínimo 8 caracteres. Al menos una
                mayúscula, una minúscula, un número y un caracter especial
                (#?!@$%^&*-).
              </mat-error>
            </mat-form-field>
            <div class="mt-1 text-md text-hint">
              Minimo 8 caracteres. Debe incluir una letra mayúscula, una
              minúscula y un caracter especial (#?!@$%^&*-).
            </div>
          </div>

          <!-- Divider -->
          <div class="mt-11 mb-10 border-t"></div>

          <!-- Actions -->
          <div class="flex items-center justify-center">
            <div class="flex flex-row gap-2">
              <button mat-stroked-button type="button" (click)="cancel()">
                Cancelar
              </button>
              <button
                mat-flat-button
                type="submit"
                [color]="'primary'"
                (click)="saveAccount()"
                [disabled]="registerForm.invalid"
              >
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
