<div class="flex-auto flex">
  <div
    class="flex flex-col md:flex-row xl:px-20 md:px-10 sm:px-6 px-4 md:py-12 py-9 2xl:mx-auto 2xl:container md:flex items-center justify-center">
    <div
      class="bg-gray-100/75 shadow-lg rounded xl:w-1/3 lg:w-5/12 md:w-1/2 w-full lg:px-10 sm:px-6 sm:py-10 px-2 py-6">
      <p class="font-semibold">
        Escriba su correo y de click en restablecer, recibirá un correo con los
        siguientes pasos.
      </p>
      <!-- Email field -->
      <mat-form-field class="w-full mt-2" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          id="email"
          aria-labelledby="email"
          type="email"
          matInput
          [formControl]="email" />
        <mat-error *ngIf="email.hasError('required')" class="text-sm">
          El Email es requerido
        </mat-error>
        <mat-error *ngIf="email.hasError('email')" class="text-sm">
          El Email es inválido
        </mat-error>
      </mat-form-field>
      <div class="mt-8 flex flex-row gap-4 justify-center items-center">
        <button
          role="button"
          type="submit"
          [disabled]="email.invalid"
          (click)="passwordReset()"
          mat-raised-button
          color="primary"
          class="w-1/3 max-w-[120px] h-12 hover:bg-blue-900 disabled:bg-slate-500 disabled:text-zinc-200">
          Restablecer
        </button>
        <button
          role="button"
          type="reset"
          (click)="back()"
          mat-raised-button
          class="w-1/3 max-w-[120px] h-12 bg-slate-200 hover:bg-slate-400 hover:text-cyan-50">
          Regresar
        </button>
      </div>
    </div>
  </div>
</div>
